
body{background: #333; font-family: Verdana, Geneva, Tahoma, sans-serif; color: #de302f; padding: 30px;}
h1{font-size: 48px; text-transform: uppercase letter-spacing: 2px; text-align: center;}
p{font-size: 16px; text-align: center;}

