<html>
    <head>
        <title>
            Yo Dawgs
        </title>
        <link href="/assets/styles.css" rel="stylesheet" type= 'text/css' />

    </head>
    <body>
        <h1>Profile Page!!</h1>
        <p>Yo! Wassup. Welcome to the page of <strong><%= person %></strong></p>
    </body>
</html>









































